commands:
  00download:
    command: 'wget https://ds.htmland.com:443/software/agent/amzn1/x86_64/ -O /tmp/agent.rpm --quiet --no-check-certificate`'
  01preserveiptables:
    command: 'touch /etc/use_dsa_with_iptables'    
  02install:
    command: 'rpm --replacepkgs -ihv /tmp/agent.rpm'
  03sleep:
    command: 'sleep 70'
  04activate:
    command: '/opt/ds_agent/dsa_control -a dsm://ds.htmland.com:4120/ tenantID:068CAB48-DADC-E861-4546-84C8B5B00582 tenantPassword:77F96AF5-075B-3465-742C-DCA1BCA18827 policyid:21 --max-dsm-retries 0 >/tmp/dsa_control.log 2>&1'